<html>
<head>
	<meta charset="utf-8">
	<title>Login and Registration</title>
</head>
<body>
	<form action="/register" class="register" method="post">
		<label for="first_name">First Name</label>
		<input type="text" id="first_name" name="first_name">
		<label for="last_name">Last Name</label>
		<input type="text" id="last_name" name="last_name">
		<label for="email">Email</label>
		<input type="text" id="email" name="email">
		<label for="password">Password</label>
		<input type="text" id="password" name="password">
		<label for="confirm_pass">Confirm Password</label>
		<input type="text" id="confirm_pass" name="confirm_pass">
		<input type="submit">
	</form>
</body>
</html>